{% extends "layout.html" %}
{% block content %}
{% load humanize %}

<div class="col-12">
    <div class="container-fluid">
        <div>
            <form method="post">
                {% csrf_token %}
                <h4 class="text-secondary">Buscar Pagos Aprobados</h4>
                <hr>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Fecha Busqueda</span>
                    <input type="date" class="form-control" name="ifecha" id="ifecha" placeholder="Fecha" required>
                    <button class="btn btn-secondary" type="submit" value="buscador" name="tipo">
                        <span class="material-symbols-outlined">
                            search
                            </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="">
            <h6 class="text-secondary">Pagos Aprobados</h6>
            <h6 class="text-secondary">
                <span class="badge bg-primary">KA: {{ total | intcomma}}</span>
                <span class="badge bg-primary">DYJON: {{total_dyjon | intcomma}}</span>
                <span class="badge bg-primary">PULMAN: {{total_pulman | intcomma}}</span>
                <span class="badge bg-primary">ACUERDO: {{total_acuerdo | intcomma}}</span>
            </h6>
            <hr>
            <table class="table" aria-describedby="tabla de empresa">
                <thead class="table-dark">
                    <tr>
                        <th>empresa</th>
                        <th>emision</th>
                        <th>nit</th>
                        <th class="no-movil">proveedor</th>
                        <th>descripcion</th>
                        <th>descuento</th>
                        <th>valor</th>
                        <th>Cuentas</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody class="table">
                    {% for pago in pagos %}
                            <tr class="{% if pago.revision == 0 %} table-warning {% endif %}">
                                <td> {{pago.empresa}}</td>
                                <td>{{ pago.emision | date:"Y-m-d"}}
                                    <span class="movil">Vencimiento: {{ pago.vencimiento }}</span>
                                </td>
                                <td>{{ pago.nit }} <span class="movil">{{ pago.proveedor }}</span></td>
                                <td class="no-movil">{{ pago.proveedor }} </td>
                                <td>{{ pago.descripcion }} 
                                    ( Concepto: {{ pago.concepto }})</span>
                                </td>
                                </td>
                                <td>{{ pago.descuento }}</td>
                                <td style="text-align: end;">{{ pago.valor | intcomma }}</td>
                                <td> 
                                    {{pago.cuentas_concatenadas |safe}}
                                </td>
                                <td>
                                    {% if pago.revision == 0 %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <button type="submit" title="revisado" value="{% if pago.empresa == 'acuerdo' %} acuerdo{{pago.id}} {% else %} {{pago.id}} {% endif %}" name="validar" class="material-symbols-outlined" style="color:white; background-color: rgb(4, 26, 112); border-radius: 5px;">
                                            check_circle
                                        </button>
                                    </form>
                                    {% else%}
                                    Revisado
                                    {% endif %}

                                </td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>  
</div>

{% endblock %}