{% extends "layout.html" %}
{% block content %}
{% load humanize %}

<div class="col-12">
    <div class="container-fluid">
        <div>
            <form method="post">
                {% csrf_token %}
                <h4 class="text-secondary">Buscar Pagos Aprobados</h4>
                <hr>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Fecha Busqueda</span>
                    <input type="date" class="form-control" name="ifecha" id="ifecha" placeholder="Fecha" required>
                    <button class="btn btn-secondary" type="submit">
                        <span class="material-symbols-outlined">
                            search
                            </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="">
            {% if total_nomina > 0 %}
            <h6 class="text-secondary">Pagos {{ pagos_nomina.0.fecha_pago }}: {{ pagos_nomina.0.empresa | upper}}</h6>
            <h6 class="text-secondary">$ {{ total_nomina| intcomma}}</h6>
            <hr>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>emision</th>
                        <th>nit</th>
                        <th class="no-movil">proveedor</th>
                        <th>descripcion</th>
                        <th>descuento</th>
                        <th>valor</th>
                        <th>Cuentas</th>
                    </tr>
                </thead>
                <tbody class="table fs-1" >
                    {% for pago in pagos_nomina %}
                            <tr class="{% if pago.estado == '0' %} table-danger {%endif%}">
                                <td>{{ pago.emision }}
                                    <span class="movil">Vencimiento: {{ pago.vencimiento }}</span>
                                </td>
                                <td>{{ pago.nit }} <span class="movil">{{ pago.proveedor }}</span></td>
                                <td class="no-movil">{{ pago.proveedor }} </td>
                                <td>{{ pago.descripcion }} 
                                    ( Concepto: {{ pago.concepto }})
                                </td>
                                </td>
                                <td style="text-align: end;">{{ pago.valor | intcomma }}</td>
                                <td>
                                    <tr>{{pago.cuentas_concatenadas |safe}}</tr>
                                </td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <h6 class="text-secondary">Pagos {{ pagos.0.fecha_pago }}: {{ pagos.0.empresa | upper}}</h6>
            <h6 class="text-secondary">$ {{ total| intcomma}}</h6>
            <hr>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>emision</th>
                        <th>nit</th>
                        <th class="no-movil">proveedor</th>
                        <th>descripcion</th>
                        <th>descuento</th>
                        <th>valor</th>
                        <th>Cuentas</th>
                    </tr>
                </thead>
                <tbody class="table">
                    {% for pago in pagos %}
                            <tr class="{% if pago.estado == '0' %} table-danger {%endif%}">
                                <td>{{ pago.emision }}
                                    <span class="movil">Vencimiento: {{ pago.vencimiento }}</span>
                                </td>
                                <td>{{ pago.nit }} <span class="movil">{{ pago.proveedor }}</span></td>
                                <td class="no-movil">{{ pago.proveedor }} </td>
                                <td>{{ pago.descripcion }} 
                                    ( Concepto: {{ pago.concepto }})</span>
                                </td>
                                </td>
                                <td>{{ pago.descuento }}</td>
                                <td style="text-align: end;">{{ pago.valor | intcomma }}</td>
                                <td>
                                    {{pago.cuentas_concatenadas |safe}}
                                </td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h6 class="text-secondary">Pagos {{ pagos_dyjon.0.fecha_pago }}: {{ pagos_dyjon.0.empresa | upper}}</h6>
            <h6 class="text-secondary">$ {{ total_dyjon| intcomma}}</h6>
            <hr>
            <table class="container-fluid table table-sm">
                <thead class="table-dark">
                    <tr>
                        <th>emision</th>
                        <th>nit</th>
                        <th class="no-movil">proveedor</th>
                        <th>descripcion</th>
                        <th>descuento</th>
                        <th>valor</th>
                        <th>Cuentas</th>
                    </tr>
                </thead>
                <tbody class="table table-sm">
                    {% for pago in pagos_dyjon %}
                    <tr class="{% if pago.estado == '0' %} table-danger {%endif%}">
                        <td>{{ pago.emision }}
                            <span class="movil">Vencimiento: {{ pago.vencimiento }}</span>
                        </td>
                        <td>{{ pago.nit }} <span class="movil">{{ pago.proveedor }}</span></td>
                        <td class="no-movil">{{ pago.proveedor }} </td>
                        <td>{{ pago.descripcion }} 
                            ( Concepto: {{ pago.concepto }})</span>
                        </td>
                        </td>
                        <td>{{ pago.descuento }}</td>
                        <td style="text-align: end;">{{ pago.valor | intcomma }}</td>
                        <td>
                            {{pago.cuentas_concatenadas |safe}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h6 class="text-secondary">Pagos {{ pagos_pulman.0.fecha_pago }}: {{ pagos_pulman.0.empresa | upper}}</h6>
            <h6 class="text-secondary">$ {{ total_pulman| intcomma}}</h6>
            <hr>
            <table class="container-fluid table table-sm">
                <thead class="table-dark">
                    <tr>
                        <th>emision</th>
                        <th>nit</th>
                        <th class="no-movil">proveedor</th>
                        <th>descripcion</th>
                        <th>descuento</th>
                        <th>valor</th>
                        <th>Cuentas</th>
                    </tr>
                </thead>
                <tbody class="table table-sm">
                    {% for pago in pagos_pulman %}
                    <tr class="{% if pago.estado == '0' %} table-danger {%endif%}">
                        <td>{{ pago.emision }}
                            <span class="movil">Vencimiento: {{ pago.vencimiento }}</span>
                        </td>
                        <td>{{ pago.nit }} <span class="movil">{{ pago.proveedor }}</span></td>
                        <td class="no-movil">{{ pago.proveedor }} </td>
                        <td>{{ pago.descripcion }} 
                            ( Concepto: {{ pago.concepto }})</span>
                        </td>
                        </td>
                        <td>{{ pago.descuento }}</td>
                        <td style="text-align: end;">{{ pago.valor | intcomma }}</td>
                        <td>
                            {{pago.cuentas_concatenadas |safe}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>  
</div>

{% endblock %}