{% extends "layout.html" %}
{% block content %}
{% load humanize %}
<div class="col-12">
    <h3 class="text-secondary">Cuentas Bancarias Proveedor</h3>
    <hr>
    <div class="container-fluid">
        <a href="{% url 'agregar_cuenta'%}" class="btn btn-primary btn-sm" title="Agregar Cuenta">+</a>
        <form method="post">
        {% csrf_token %}
        <div class="input-group input-group-sm mb-3 mt-2">
            <input type="text" class="form-control" name="buscar" id="buscar" placeholder="Busqueda Por nit o nombre">
            <button class="btn btn-sm btn-primary" type="submit">Buscar</button>
          </div>
        </form>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nit</th>
                    <th>Proveedor</th>
                    <th>Banco</th>
                    <th>Tipo de cuenta</th>
                    <th>Numero de cuenta</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cuenta in cuentas %}
                <tr>
                    <td>{{ cuenta.nit }} - {{cuenta.digito_verificacion}}</td>
                    <td>{{ cuenta.proveedor }}</td>
                    <td>{{ cuenta.banco }}</td>
                    <td>{{ cuenta.get_tipo_cuenta_display}}</td>
                    <td>{{ cuenta.numero_cuenta }}</td>
                    <td>{{ cuenta.get_estado_display }}</td>
                    <td>
                        <a href="{% url 'inactivar_cuenta' cuenta.id %}" class="btn btn-danger btn-sm" title="Inactivar cuenta">-</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}