#navegacion {
    width: 10em;
    /* Otros estilos de tu barra de navegación */
}



a {
    text-decoration: none;
    color: aliceblue;
}



table {
    position: relative;
    font-size: x-small;
    align-items: center;
}

.movil{
    display: none;
}

.no-movil{
    display:auto;
}


@media (min-width: 0px) and (max-width: 700px) { 

    #navegacion {
        width: 6em;
        /* Otros estilos de tu barra de navegación */
    }

    table {
        position: relative;
        font-size: 5px;
        align-items: center;
    }

    #botontodos {
        font-size: 7px;
    }

    li {
        font-size: 8px;
    };

    #titulo {
        font-size:9px;
    }

    #persona{
        font-size: 8px;
    }

    .movil{
        display: block;
    }

    .no-movil{
        display: none;
    }

    a {
        text-decoration: none;
        color: aliceblue;
        font-size: 8px;
    }

    #titulo{
        font-size: 12px;
    }

    .material-symbols-outlined{
        font-size: 15px;
    }

    h6 {
        font-size: 12px;
    }

}