
a {
    text-decoration: none;
    color: rgb(0, 19, 68);
}

#ul{
    padding: auto;
}

.li{
    padding: 2px;
    background-color: rgb(234, 234, 234);
    margin: 2px;
    border-radius: 5px;

}
.table{
    font-size: 14px;
}


.table-sm {
    position: relative;
    font-size: x-small;
    align-items: center;
}

.movil{
    display: none;
}

.no-movil{
    display:auto;
}


@media (min-width: 0px) and (max-width: 800px) { 


    table {
        position: relative;
        font-size: 6px;
        align-items: center;
    }

    #botontodos {
        font-size: 7px;
    }

    li {
        font-size: 10px;
    };

    #titulo {
        font-size:9px;
    }

    #persona{
        font-size: 10px;
    }

    .movil{
        display: block;
    }

    .no-movil{
        display: none;
    }

    a {
        font-size: 8px;
    }

    #titulo{
        font-size: 12px;
    }

    .material-symbols-outlined{
        font-size: 18px;
    }

    h6 {
        font-size: 12px;
    }

}